<button class="btn btn-default col-md-2 col-md-offset-5" type="submit" >
  <span class="glyphicon glyphicon-thumbs-<%= icon_button %>" aria-hidden="true"></span>
  <span class="badge"><%= activity.like_activities.size %></span>
</button>
