<% provide :title, t("users.edit.title") %>
<% provide :button_text, t("users.edit.save") %>
<h1><%= t "users.edit.h2" %></h1>
<div class="row">
  <%= render "form" %>
  <div class="gravatar_edit">
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank"><%= t "users.change" %></a>
  </div>
</div>
