<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p><%= t "layout.footer.develop" %></p>
      </div>
      <div class="col-md-6">
        <p><%= t("layout.footer.phone_contact") %></p>
        <p><%= t "layout.footer.address_contact" %></p>
      </div>
    </div>
  </div>
</footer>
