<header class="navbar navbar-default navbar-fixed-top" >
  <div class="container">
    <%= link_to t("layout.header.logo"), "/pages/home", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("layout.header.help"), "/pages/help" %></li>
        <li><%= link_to t("layout.header.about"), "/pages/about" %></li>
      </ul>
    </nav>
  </div>
</header>
